html{
    font-size: 14px;
}

h1{
    color: white;
    font-size: 3.5rem;
}

h2{
    color: white;
}

p{
    font-size: 1.5rem;
}

section{
    padding: 15px 0;
}

.sec_title{
    font-size: 3rem;
}

.white_bg{
    background-color: white;
}

.main_bg{
    background-color: #1abc9c;
}

section.main_bg{
    padding: 65px 0;
}

.black_bg{
    background-color: black;
}

.white{
    color: white;
}

.black{
    color: black;
}

.section_base_margin{
    margin: 50px auto;
}

/* fine common */

.nav_spec{
    background-color: #2c3e50;
    height: 80px;
    font-size: 1.4rem;
}

#logo{
    font-size: 2rem;
}

/* jumbotron */

.jumbo_bg{
    background-color: #1abc9c;
    margin-top: 80px;
}

.img_box{
    margin: 15px auto;
}

.img_box>img{
    width: 20rem;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

.divide{
    margin: 1rem auto;
    width: 60%;
    text-align: center;
    font-size: 40px;
}

.divide>i{
    margin: 0 10px;
}

.divide>.line{
    height: 3px;
    width: 30%;
    display: inline-block;
    vertical-align: super;
}

/* portfolio */

.card_port{
    
    width: 100%;
}

.card_port>img{
    width: 100%;
    border-radius: 20px;
}

/* about */

#download{
    width: 10rem;
    height: 3rem;
}

#download>i{
    margin-right: 8px;
}

/* contact me */

#contact input, .message{
    border: none;
    background-color: #1abc9cbe;
    border-bottom: 3px solid #2c3e50;
}